<div class="container">
  <div class="row" style="padding: 15px;">
    <div class="col-md-6 offset-md-3" style="padding: 15px;">
      <mat-card style="padding: 15px;">
        <mat-card-title class="animate-slideIn">Total Amount</mat-card-title>
        <div class="amount-container animate-slideIn">
          <span class="amount-label">Amount:</span>
          <span class="amount-value">{{ amount | currency }}</span>
        </div>
        <div class="proceed-button animate-fadeIn">
          <button (click)="initiatePayment()">Proceed to Place Order</button>
        </div>
      </mat-card>
      </div>
      </div>
      </div>