<div style="height: 90vh;"></div>
<div style="background-color: #1C2478; display: flex; justify-content: space-around; padding: 20px; align-items: center;margin: -10px;">
  <div style="text-align: center;">
    <img src="assets/images/secure-payment.svg" alt="Image 1" />
    <p style="color: white; font-size: larger;">Secure Payment</p>
    <p style="color: white;">100% Secure Payment</p>
  </div>
  <div style="text-align: center;">
    <img src="assets/images/eat-more.svg" alt="Image 1" />
    <p style="color: white; font-size: larger;">100% Worthy</p>
    <p style="color: white;">Eat More with less Amount</p>
  </div>
  <div style="text-align: center;">
    <img src="assets/images/support.svg" alt="Image 1" />
    <p style="color: white; font-size: larger;">24/7 Support</p>
    <p style="color: white;">via WhatsApp</p>
  </div>
  <div style="text-align: center;">
    <img src="assets/images/deliver.svg" alt="Image 1" />
    <p style="color: white; font-size: larger;">Free Delivery</p>
    <p style="color: white;">For all order over 500 Rupees</p>
  </div>
</div>
  <div  class="footer" style="background-color: #1C2478; padding: 30px; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;margin: -10px;">
    <div style="display: flex; justify-content: space-around; flex-wrap: wrap; color: white; margin-bottom: 20px;">
      <div>
        <h4>Policies</h4>
        <ul style="list-style: none; padding: 0;">
          <li><a routerLink="/termsandconditionComponent"  target="_blank" style="color: white; text-decoration: none;">Terms and Conditions</a></li>
          <li><a routerLink="/shippingpolicyComponent"  target="_blank" style="color: white; text-decoration: none;">Shipping policy</a></li>
          <li><a routerLink="/privacypolicyComponent"  target="_blank" style="color: white; text-decoration: none;">Privacy policy</a></li>
          <li><a routerLink="/refundcancellationsComponent"  target="_blank" style="color: white; text-decoration: none;">Refunds/Cancellations</a></li>
        </ul>
      </div>
      <div>
        <h4>Account</h4>
        <ul style="list-style: none; padding: 0;">
          <li><a rout="#" style="color: white; text-decoration: none;">My Account</a></li>
          <li><a href="#" style="color: white; text-decoration: none;">My Wishlist</a></li>
          <li><a href="#" style="color: white; text-decoration: none;">My Cart</a></li>
          <li><a href="#" style="color: white; text-decoration: none;">Sign In</a></li>
          <li><a href="#" style="color: white; text-decoration: none;">Check Out</a></li>
        </ul>
      </div>
      <div>
        <h4>Delivery Timings</h4>
        <p>Monday – Sunday: 4 AM – 8 AM</p>
      </div>
      <div>
        <h4>Contact Us</h4>
        <p>ONLINE ENQUIRY</p>
        <p>For Bulk Quantity Please Whatsapp / Contact Us through this number</p>
        <p>+91 888 4 555 209</p>
      </div>
    </div>
  
    <!-- Address and copyright -->
    <div style="background-color: #0F183D; color: white; text-align: center; padding: 10px;">
      <p>ADDRESS: SY.NO 31, SANJEEV REDDY SHED, BEHIND STAR MARKET, BALAGERE VILLAGE, PANATHUR POST, BANGALORE - 560087, B.B.M.P EAST, MAHADEVAPURA, KARNATAKA - 560087, Mahadevapura, B.B.M.P East, Karnataka - 560087    </p>
      <p>Copyright &copy; {{currentYear}}- All rights reserved.</p>
    </div>
  </div>
