.mat-dialog-container {
    padding: 0px !important;
    border: 55px !important;
    border-radius: 20px !important;
    border: #000 !important;
}
.otp-input{
    width: 25px;
    height: 25px;
    border-radius: 4px !important;
    border: solid 1px #c5c5c5 !important; 
    border-width: 2px;
    text-align: center !important;
    border-color: blue !important;
    font-size: 32px !important;
}