<mat-card class="forgotpassword" style="width: 350px">
    <mat-card-title style="padding: 5px; align-content: center; color: #3f51b5">
      <div
        fxLayout="row"
        fxLayoutAlign="center"
        style="margin-top: 0px; padding-top: 0px"
      >
        <img src="assets/images/logo.png" alt="paymonk logo" height="70px" />
      </div>
    </mat-card-title>
    <mat-divider></mat-divider>
    <mat-card-content style="margin-top: 5px; padding: 20px">
      <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px">
        <h1 style="color: #3F51B5; font-weight: 450" *ngIf="view=='newpassword'">Let's Change your Password</h1>
        <!-- <h1 style="color: #3F51B5; font-weight: 450" *ngIf="view=='submitotp'">Enter Your OTP</h1> -->
        <h2 style="color: green; font-weight: 450" *ngIf="view=='done'">Password Changed Successfully</h2>
  
         <mat-error>{{submitusernameerror}}</mat-error>
     
         <mat-form-field appearance="outline" *ngIf="view=='newpassword'" >
            <input
              matInput
              type="password"
              placeholder="Current Password"
              [(ngModel)]="currentpassword"
              required
            />
    
            <mat-icon matPrefix style="padding: 10px">lock</mat-icon>
    
           
          </mat-form-field>
     <mat-form-field appearance="outline" *ngIf="view=='newpassword'" >
          <input
            matInput
            type="password"
            placeholder="Password"
            [(ngModel)]="newusername"
            required
          />
  
          <mat-icon matPrefix style="padding: 10px">lock</mat-icon>
  
         
        </mat-form-field>
        <mat-form-field appearance="outline" *ngIf="view=='newpassword'" >
          <input
            matInput
            type="password"
            placeholder="Confirm Password"
            [(ngModel)]="newconfirmusername"
            required
          />
  
          <mat-icon matPrefix style="padding: 10px">lock</mat-icon>
  
         
        </mat-form-field>
        <button
          mat-raised-button
          color="primary"
          style="width: 90%; border-radius: 15px; height: 39px"
          (click)="submit()"
          *ngIf="view!='done'"
        >
          Submit
        </button>
        
        <button
          mat-button
          color="warn"
          style="width: 40%; border-radius: 15px; margin-top: 10px;"
          (click)="close()"
        >
          Cancel
        </button>
      </div>
     
     
    </mat-card-content>
    
  </mat-card>
  