<div class="container">
    <h1>Shipping Policy
    </h1>
<ol>
<li>Processing time: All orders are processed within 1 business day.
</li>
<li>Shipping options: We offer shipping via our in-house delivery crew.
</li>
<li>Shipping fees: Shipping fees is flat 10 Indian rupees. Shipping fees will be displayed during the checkout process.
</li>
<li>International shipping: We currently do/do not offer international shipping.
</li>
<li>Delivery time: Delivery time varies depending on the distance. Estimated delivery time is 5am to 9am.
</li>
<li>Order tracking: Order tracking is not available right now.
</li>
<li>Shipping delays: We are not responsible for shipping delays caused by factors beyond our control, such as natural disasters, weather, or customs delays.
</li>
<li>Lost or stolen packages: We are not responsible for lost or stolen packages. If your package is lost or stolen, please contact the community security.
</li>
<li>Returns: If you need to return an item, please see our https://ubfactory.in/refund-policy/.
</li>
<li>Contact us: If you have any questions about our shipping policy, please contact us at ubfactoryin@gmail.com or +918884555209.
</li>
</ol>
</div>
<app-footer></app-footer>