.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px 0;
}

.section {
  margin-bottom: 20px;
}

mat-card {
  padding: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

mat-card-content {
  padding: 0;
}

h3 {
  display: inline;
  margin-right: 10px;
}

button[mat-icon-button] {
  vertical-align: middle;
}
