<mat-card class="forgotpassword" style="width: 350px">
    <mat-card-title style="padding: 5px; align-content: center; color: #3f51b5">
      <div
        fxLayout="row"
        fxLayoutAlign="center"
        style="margin-top: 0px; padding-top: 0px"
      >
        <img src="assets/images/logo.png" alt="paymonk logo" height="70px" />
      </div>
    </mat-card-title>
    <mat-divider></mat-divider>
    <mat-card-content style="margin-top: 5px; padding: 20px">
      <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px">
        <h1 style="color: #3F51B5; font-weight: 450" *ngIf="view=='submitusername'">Let's Find your Password</h1>
        <h1 style="color: #3F51B5; font-weight: 450" *ngIf="view=='submitotp'">Enter Your OTP</h1>
        <h2 style="color: green; font-weight: 450" *ngIf="view=='done'">Password Changed Successfully</h2>
  
         <mat-error>{{submitusernameerror}}</mat-error>
         <mat-form-field appearance="outline" *ngIf="view=='submitusername'" >
          <input
            matInput
            type="email"
            placeholder="Username"
            [(ngModel)]="username"
            required
          />
  
          <mat-icon matPrefix style="padding: 10px">person</mat-icon>
  
         
        </mat-form-field>
     
        <ng-otp-input *ngIf="view=='submitotp'" [formCtrl]="otpFormControl"   [config]="{length:6,allowNumbersOnly:true,placeholder:'*',isPasswordInput:true,inputStyles:{'width':'38px','height':'38px','margin-bottom':'15px','color':'primary'}}"></ng-otp-input>
     <mat-form-field appearance="outline"*ngIf="view=='submitotp'" >
          <input
            matInput
            type="password"
            placeholder="Password"
            [(ngModel)]="newusername"
            required
          />
  
          <mat-icon matPrefix style="padding: 10px">lock</mat-icon>
  
         
        </mat-form-field>
     
        <button
          mat-raised-button
          color="primary"
          style="width: 90%; border-radius: 15px; height: 39px"
          (click)="submit()"
          *ngIf="view!='done'"
        >
          Submit
        </button>
        
        <button
          mat-button
          color="warn"
          style="width: 40%; border-radius: 15px; margin-top: 10px;"
          (click)="close()"
        >
          Cancel
        </button>
      </div>
     
     
    </mat-card-content>
    
  </mat-card>
  